/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  color: #454959;
  margin: 0;
  font: 300 1em/1.5 'Work Sans', sans-serif;
}

h1, h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {  
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: .5rem 0 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 0 .5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem; /* 34px */
}

img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul, ol {
  margin: 1.5rem 0;
}

li {
  margin-bottom: .5rem;
}

a {
  color: #CC4E13;
  text-decoration: none;
}

/* Main Styles --------------------- */
header, footer {
  text-align: center; 
}

header {
  padding: 10vh 1rem;
  background: url('../img/mountains.jpg') no-repeat center;
  background-color: #F3753B;
  background-blend-mode: multiply;
  background-size: cover;
  color: white;
}
.title {
  margin-bottom: .5rem;
  letter-spacing: .05rem;
}
h1:after {
  /* https://www.toptal.com/designers/htmlarrows/arrows/ */
  content: "\27B8";
  display: block;
  margin-top: 10vh;
  transform: rotate(90deg);
}

section {
  padding: 4rem 1.5rem;
  border-bottom: 1px solid #987;
  margin: auto;
  max-width: 1024px;
}
.callout {
  width: 250px;
  padding: .25rem 1rem;
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(85,68,51,.5);
  margin: 1rem auto;
  display: block;
  background: linear-gradient(#CC4E13 0%, #E3652B 50%, #DC5E23 51%, #F3753B 100%);
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}
.callout:hover {
  background: linear-gradient(#BC3E03 0%, #D3551B 50%, #CC4E13 51%, #E3652B 100%);
}
#wildlife {
  color: white;
  padding: 20% 15%;
  border-top: 12px solid #F3753B;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
#wildlife a {
  color: #f7a27c;
}
.column:first-child {
  padding-bottom: 2rem;
}
.column img {
  border-top: 6px solid #F3753B;
}
footer {
  font-size: .9rem;
  padding: 3rem 1rem 6rem;
}

@media screen and (min-width: 720px) {
  header {
    padding: 20vh 0;
  }
  h1 {
    font-size: 5rem;
  }
  .arrow {
    margin-top: 10vh;
  }
  .column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
  }
  .column:first-child {
    margin-right: 4%;
    padding-bottom: 0;
  }
}